:root {

--font-size-sm: clamp(0.8rem, 5.03vw + -0.46rem, 3.57rem);
--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
--font-size-md: clamp(1.25rem, -1.55vw + 1.64rem, 0.4rem);
--font-size-lg: clamp(1.56rem, -2.6vw + 2.21rem, 0.13rem);
--font-size-xl: clamp(1.95rem, -3.47vw + 2.82rem, 0.04rem);
--font-size-xxl: clamp(2.44rem, -4.41vw + 3.54rem, 0.01rem);
--font-size-xxxl: clamp(3.05rem, -5.54vw + 4.44rem, 0rem);

}

html {

    scroll-behavior: smooth;
    
}


.header-nav {

    font-family: fino-sans, sans-serif;
    font-size: var(--font-size-xl);
    margin: 0 auto;
    position: absolute;
    left: 35%;
    top: 0rem;
    margin: 0 auto;
    padding-top: 20px;
    color: #FFFFFF;
    opacity: 85%;
    
}

a:link {
    text-decoration: none;
    color: #FFFFFF;
}

a:visited {
    text-decoration: none;
    color: #FFFFFF;
}


nav {
    padding: 1rem;
    margin-top:-40px

    
}

nav img {

    padding: 0.2rem;

}


.nav-left {



}

.nav-right {
    
}

.left-pages {



}

.right-pages {
 

}

.nav-box {

    width: 100%;
    height: 7.5rem;
    background-color: #333333;
    

}

h1 {

    font-size: var(--font-size-xxxl);

}

h2 {

    font-size: var(--font-size-xxl);

}

h3 {
    
    font-size: var(--font-size-xl);

}

h4 {
    
    font-size: var(--font-size-lg);

}

h5 {
    
    font-size: var(--font-size-md);

}


p {
    
    font-size: var(--font-size-lg);

}

ul {

    font-size: var(--font-size-md);
    list-style-type: none;
    padding-left: 0;


}

ol {

    font-size: var(--font-size-md);

}

nav ul {

    display: flex;
    justify-content: space-between;
    

}

.all-social-links {

    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
    

}

.social-links img {
    width: 2rem;
    padding: 0.3rem;
    

}

.solid-stroke {

    border: none;
    border-top: 4px solid #a57df0;
    width: 100%;
    
    
}


.banner {
    height: 90vh;
    display: flex;
    object-fit: fill;
    overflow: hidden;

}

.ani-clouds {
    height: 100vh;
    margin: auto;
    position: relative;
    
    
}

.headline {

    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    


}

.band-header {
    font-family: fino-sans, sans-serif;
    font-size: var(--font-size-xxxl);
    font-style: regular;
    color: #FFFFFF;
    opacity: 75%;

}

.tagline {
    font-family: 'Philosopher', sans-serif;
    font-style: italic;
    font-size: var(--font-size-md);
    opacity: 48%;
}

.arrow-pointer img {

    opacity: 75%;
    width: 3.5rem;
    padding-top: 5rem;
    justify-content: center;
    align-items: center;
    
}

.arrow-pointer-up img {

    opacity: 75%;
    width: 3.5rem;
    position: relative;
    margin-top: 0;
    padding-top: 0;
    justify-content: center;
    align-items: center;
    
}

body {
    
    font-family: 'Philosopher', cursive;
    background-color: black;
    color: #FFFFFF;
    
}

.music-video {
    background-image: url("/img/col-bg1.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 100vh;

}





.releases::before {
    transform: scalex(-1);
}

.releases {

    background-image: url("/img/col-bg2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 93vh;    

}

.arrow-pointer:hover {

    filter: invert(52%) sepia(24%) saturate(6755%) hue-rotate(237deg) brightness(100%) contrast(103%);
    
}

.arrow-pointer-up:hover {

    filter: invert(52%) sepia(24%) saturate(6755%) hue-rotate(237deg) brightness(100%) contrast(103%);
    
}

.releases-content {

    transform: scalex(1);
    transform: scaley(1);


}

.releases-content img {

    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;


}


.background {

    background-image: url("/img/bw-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;


}

.topic-title::first-letter{
    font-weight: normal;
    font-size: 5rem;
}


.about-us {

    flex-direction: column;
    display: block;
    padding-bottom: 6rem;
    display: block;
    position: relative;
    top: 50%;
    left: 5%;
    max-width: 90%;
    
    

}

.about-us img {
    width: 100%;
}


.music-streamlinks {

    position: relative;
    display: inline-block;
    max-width: 10%;

}

.music-icons-span {

    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;

}

.seance-music, .sacred-music, .castel-music {

    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 6rem;

}

.credits p {

    font-size: 0.9rem;
    line-height: 0.2; /* Decrease line height */

}

.credits {

    margin-bottom: 180px; /* Decrease space after */

}

.seance-music {
    display: block;
    position: relative;
    top: 50%;
    left: 10%;
    max-width: 720px;

}

.sacred-love-spells {
    display: block;
    position: relative;
    top: 50%;
    left: 10%;
    max-width: 720px;
    width: 80%;

}

.castel {
    display: block;
    position: relative;
    top: 50%;
    left: 10%;
    max-width: 720px;
    width: 80%;

}



footer {
    
    background-color: #000000;
    width: 100%;
    font-size: var(--font-size-sm);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p {
    
    font-size: 1rem;
}